<form name="form" ng-submit="onSubmit()">
  <div class="form-group">
    <label for="">Nombre</label>
    <input class="form-control" type="text" ng-model="usuario.nombre" required>
  </div>
  <div class="form-group">
    <label for="">Apellido</label>
    <input class="form-control" type="text" 
           ng-model="usuario.apellido" required>
  </div>
  <div class="form-group">
    <label for="">Edad</label>
    <input class="form-control" type="number" 
           ng-model="usuario.edad" required>
  </div>
  <div class="form-group">
    <label for="">Empresa</label>
    <select class="form-control" 
           ng-model="usuario.empresa" 
			ng-options="item._id as item.razsoc for item in empresas"
           required>
           	<option value="">Seleccione</option>
           </select>
  </div>
  <div class="form-group">
    <label for="">Género</label><br>
    <input type="radio" 
           ng-model="usuario.genero" value="Hombre" 
           name="gender" required> Hombre <br>
   	<input type="radio" 
           ng-model="usuario.genero" value="Mujer" 
           name="gender" required> Mujer
  </div>
  <button class="btn btn-default" type="submit">
    Guardar
  </button>
</form>